<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>News KeyWork Finder</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="public/styles/marketing.css">
        <!--<![endif]-->
</head>
<body>

<div class="splash-container">
    <div class="splash">
        
        <h1 class="splash-subhead">
            Trump Volume
        </h1>
        <img src="./public/img/trump.jpg" />
    </div>
</div>

<div class="content-wrapper">
   {{{body}}}
</div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="public/js/site.js"></script>

</body>
</html>